body {
	font-family: sans-serif;
}

p {
	font-family: monospace;
	font-size: 15px;
}

h1 {
	border-bottom: 1px solid black;
	text-align: center;
	padding-bottom: 20px;
}

div {
	overflow: auto;
	/*prevent div from being compressed, to recognise image is part of it. Weird thing about float*/
}


.main img {
float: right;
}
 
.link {
	padding-top: 20px;
	border-top: 3px solid black;
	text-align: center;
	font-family: sans-serif;
}

.why {
	font-family: sans-serif;
}

.main {
	border-bottom: 1px solid black;
	padding-bottom: 20px;
}

h3 {
	margin-top: 0px;
}

.pmain {
	border-bottom: 1px solid black;
}

li {
	font-family:monospace;
	font-size: 15px;
}

.special {
	font-family: sans-serif;
}

footer {
	
	text-align: center;
	border-bottom: 3px solid black;
	padding-bottom: 30px;
	padding-top: 15px;
}

/* margin:0 auto; is an important tool. auto means whatever space on the left and write, divid it equally
/* This is an ID #image-list{}
/* This is a class .image-list{}
/* short hand for padding e.g. padding: 0 10px 0 0; this means clockwise from top, so top, right, bottom left
/* short had for paddeing: 10px, ;

/*
"multiple" class
used to apply multiple scalable properties (class is for scalability) 
In html
button class="btn-pill blue"
button class="btn-pill red"
In CSS
.btn-pill {border-radius: 9999px;}
.btn-rounded {border-radius: 5px;}
.blue {background-colour: blue;}
.red {background-colour: red;}
realise each class is still called separately, to call classes together, see "conditional" class

"chained" class
In CSS
.btn-pill.red {...}
Both conditions need to be fulfilled to be applied

"multiple" class creates a new class, whereas "chained" class avoids creating new class, but modifies the existing class by chaining conditions to make it an exception

change anchor text e.g. hyperlink blue text turns purple after clicking
anchor <a href="..."> has 4 default states, that can be customised
if don't want default state, use pseduo-class
In CSS

a {color: green;}

a: hover,
a: visited,
a: active,
a: focus, {
color: orange;
}

selecting specific items in a list or any element like p
In CSS
first-child and nth-child
li: nth-child(odd){
	background-color: orange;
}
p: nth-child(3n+1){
	background-color: orange;
}

using "blank" default stylesheet, rather than browser specific one, on top of your own stylesheet
use the normalise one, link to that stylesheet first, then use own style


